<!DOCTYPE html>
<html>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h2>Postings</h2>

<div id="postings">
  <!-- Postings will be inserted here by JavaScript -->
</div>

<h2>Post data</h2>

<form id="postForm" action="{{ url_for('index') }}" method="post">
  {{ form.hidden_tag() }}
  {{ form.data.label }} {{ form.data(size=32) }}
  {{ form.submit() }}
</form>

<script>
function copyToClipboard(text) {
  var tempTextArea = document.createElement("textarea");
  tempTextArea.style = "position: absolute; left: -1000px; top: -1000px";
  tempTextArea.value = text;
  document.body.appendChild(tempTextArea);
  tempTextArea.select();
  document.execCommand("copy");
  document.body.removeChild(tempTextArea);
}

// Update the postings every 5 seconds
setInterval(function() {
  fetch('/get_postings')
  .then(response => response.json())
  .then(data => {
    const postingsDiv = document.getElementById('postings');
    postingsDiv.innerHTML = '';
    data.reverse().forEach((posting, index) => {
      const copyButton = document.createElement('button');
      copyButton.textContent = '= = =';
      copyButton.onclick = function() { copyToClipboard(posting); };
      
      // Check if it's the first element after reversing and add a class for styling
      if (index === 0) {
        copyButton.style.fontSize = '900%';
      }

      postingsDiv.appendChild(copyButton);

      const deleteForm = document.createElement('form');
      deleteForm.action = '/delete/' + (data.length - 1 - index);  // adjust index because we reversed the data
      deleteForm.method = 'POST';
      deleteForm.style.display = 'inline';
      const deleteButton = document.createElement('input');
      deleteButton.type = 'submit';
      deleteButton.value = '" - "';
      deleteForm.appendChild(deleteButton);
      postingsDiv.appendChild(deleteForm);

      const pre = document.createElement('pre');
      pre.textContent = posting;
      postingsDiv.appendChild(pre);
      
      postingsDiv.appendChild(document.createElement('br'));
    });
  });
}, 999);
</script>

</body>
</html>
